<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <roleManager enabled="true"/>
      <authentication mode="Forms">
        <forms loginUrl="login/login.aspx"/>
      </authentication>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    </system.web>

  <connectionStrings>
    <remove name="LocalSqlServer"/>  
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=6k185Finance; Persist Security Info=True; User ID=6k185Finance; Password=Hoosier11"/>
    <add name="cs_PVI" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=6k185Finance; Persist Security Info=True; User ID=6k185Finance; Password=Hoosier11" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.net>
    <mailSettings>
      <smtp from="leottuce@gmail.com">
        <network host="smtp.gmail.com" enableSsl="true" password="DISANTO9" port="587"
          userName="leottuce" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
